<div class="logs-container">
    <div class="logs-header">
        <h3>Seznam vyletu</h3>
    </div>
    
    <div class="logs-list">
        @for (btn of buttons; track btn) {
            <button matButton="elevated" class="log-button" (click)="btn.action()">
                {{ btn.text }}
            </button>
        } @empty {
            <p>No logs yet.</p>
        }
    </div>
    
    

    <button mat-icon-button (click)="fileInput.click()">
        <mat-icon>add</mat-icon>
    </button>

    <input 
        #fileInput
        type="file"
        style="display: none;"
        (change)="onFileSelected($event)">

    

</div>
