<div class="logs-container">
    <div class="logs-header">
        <h3>Seznam výletů</h3>
    </div>
    
    <div class="logs-list">
        @for (btn of buttons(); track $index) {
            <button matButton="elevated" class="log-button" (click)="btn.action()">
                {{ btn.text }}
            </button>
        } @empty {
            <p>No logs yet.</p>
        }
    </div>
    
    <button mat-icon-button (click)="openUpload.emit()">
        <mat-icon>add</mat-icon>
    </button>
</div>
