<div class="upload-container">
    <div class="upload-header">
        <h2>Nahrát výlet</h2>
        <button class="upload-close-btn" mat-icon-button (click)="close.emit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    

    <p>
        @if (!fileName1) {
            Nahrát soubor.
        } @else if (!correctFile) {
            Špatný typ souboru. Pouze CSV a GPX.
        } @else if (!fileName2) {
            Je potřeba nahrát jak CSV tak GPX soubor. 
        } @else {
            {{ fileName1 }} & {{ fileName2 }}
        }
        
        <button mat-icon-button (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </p>

    <input 
        #fileUpload
        type="file"
        style="display: none;"
        (change)="onFileSelected($event)"
        multiple>

</div>
