<div class="dashboard-conteiner">
    <div class="sidebar-layer">
        <app-logs (openUload)="isUploadOpen = true" (tripSelected)="selectedId = $event"></app-logs>
    </div>

    <app-map class="map-layer" [tripId]="selectedId" (point)="selectedPoint = $event"></app-map>


    @if (isUploadOpen) {
        <div class="modal-overlay">
            <app-upload (closeModal)="isUploadOpen = false"></app-upload>
        </div>

    }

    @if (selectedPoint) {
        <div class="detail-layer">
            <app-point-detail [pnt]="selectedPoint"></app-point-detail>
        </div>
    }
</div>
